/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/repos
todo.md
resources/public/js
resources/public/img
resources/public/css
resources/public/src/js
resources/public/bundles
resources/public/html
resources/js/
.cljs_rhino_repl
figwheel_server.log
.vagrant
