
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e802'; } /* '' */
.icon-mail-squared:before { content: '\e804'; } /* '' */
.icon-github-squared:before { content: '\e805'; } /* '' */