@import './Skeleton-2.0.4/css/normalize.css';
@import './Skeleton-2.0.4/css/skeleton.css';
@import './joe-xoxomoon/joe-xoxomoon.css';
@import './joe-xoxomoon/animation.css';
@import './joe-xoxomoon/joe-xoxomoon-codes.css';
@import './joe-xoxomoon/joe-xoxomoon-embedded.css';

nav ul, body {
  font-family: Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main img {
  max-width: 100%;
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

p, ol, ul, small {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #2980b9;
  text-decoration: none;
}

ul, ol {
}

body {
  padding-top: 45px;
  color: #2c3e50;
  background-color: #bdc3c7;
}

#main {
  background-color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 0;
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #bdc3c7;
}

nav, nav a {
  color: #bdc3c7;
}

nav a.home {
  color: #2c3e50;
}

nav img {
  height: 16px;
  margin-right: 15px;
  margin-bottom: -4px;
}

@-webkit-keyframes loading {
  0%   { opacity: .2; }
  50% { opacity: .8; }
  100% { opacity: .2; }
}
@-moz-keyframes loading {
  0%   { opacity: .2; }
  50% { opacity: .8; }
  100% { opacity: .2; }
}
@-o-keyframes loading {
  0%   { opacity: .2; }
  50% { opacity: .8; }
  100% { opacity: .2; }
}
@keyframes loading {
  0%   { opacity: .2; }
  50% { opacity: .8; }
  100% { opacity: .2; }
}

nav img.loading {
  -webkit-animation: loading 2s infinite;
  -moz-animation:    loading 2s infinite;
  -o-animation:      loading 2s infinite;
  animation:         loading 2s infinite;
}

nav a.active {
  color: red;
}


nav a.active {
  color: red;
}

nav ul {
  min-width: 480px;
  width: 80%;
  margin-bottom: 0;
  list-style: none;
  float: left;
}

nav ul > li {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 0;
}

nav ul > li > a {
  text-decoration: none;
}

nav ul > li + li:before {
  content: "/";
  margin-right: 15px;
}

nav .loader {
  float: right;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

section.lead {
  padding-top: 30px;
  padding-bottom: 90px;
}

section.lead > p {
  font-size: 2.4rem;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  margin-top: 150px;
  border-top: solid #bdc3c7 1px;
  padding: 60px 0 180px;
}

footer > ul > li {
  display: inline;
}
